<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student Information</h1>

    <% students.forEach((student) => { %> 
        <p><strong>Name:</strong> <%= student.name %></p>
        <p><strong>Class:</strong> <%= student.class %></p>
        <p><strong>Favorite Subject:</strong> <%= student.favoriteSubject %></p>
        <hr>
    <% }); %>

</body>
</html>
